@charset "utf-8";
/* CSS Document */	
#logo{
	padding: 0px 0px;
	margin: -20px 20px;
}
#tieude{
	padding-top: 20px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;
	margin-top: -20px; margin-bottom: 20px; margin-left: 0px; margin-right: auto;
	font-family: "Arial";
	font-size: 12px;
	font-color: white;
}
.container{
	max-width: 1500px;
	margin: 0px auto; 
}
#header{
	background-color: darkcyan;	
	width: auto;
	height: 50px;
}
nav{
	display:flex;
	justify-content: space-between;
	justify-items: center;
}
#logo{
	padding:20px 0px;
}
# logo img{
	max-with: 50px;
	height: auto;	
}
#main-menu{
	display:flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
#main-menu li{
	position: relative;
}
#main-menu li a{
	color: white;
	display: block;
	font-family: "Arial";
	font-size: 15px;
	margin-left: 35px; margin-right: 35px;
	padding-top: 20px; padding-bottom: 10px; padding-left: 0px; padding-right: 10px;
	text-decoration: none;	
}
#sub-menu{
	color: black;
	display: block;
	font-family: "Arial";
	font-size: 12px;
}
#main-menu ul.sub-menu{
	position: absolute;
	background-color: lightseagreen;
	padding: 15px 0px;
	list-style: none;
	width: 200px;
	border-bottom: 1px solid white; 
	display: none;
}
#main-menu li:hover>ul.sub-menu{
	display: block;                        
}
#main-menu ul.sub-menu a{
	padding: 8px 15px;
	border-bottom: 1px solid white; 
	left: 0;
}
#main-menu ul.sub-menu li:hover a{
	border-bottom: 1px soild lightseagreen; 
}
#main-menu ul.sub-menu li:last-child a{
	border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
	left: 200px; 
	top: -15px; 
}
/* Thiết lập border khi hover */
#main-menu>li>a{
	position: relative;
}
#main-menu>li>a::before{
	content:"";
	height: 4px;
	width: 0px;
	background: lightpink;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}
#main-menu>li:hover>a::before{
	display: block; 
	width: 100%;
}
#main-menu>li.has-child::after{
	font-family: "Font Awesome 6 Free";
	font-weight: 900; 
	content: "\f107";
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 20px 18px;
}
#main-menu .sub-menu>li:hover>a{
	color: yellow; 
}
#main-menu .sub-menu>li.has-child::after{
	font-family: "Font Awesome 6 Free";
	font-weight: 900; 
	content: "\f105";
	color: white;
	position: absolute;
	top: 0px;
	right: 20px;
	padding: 5px 5px;
}
#main-menu .sub-menu>li.has-child:hover::after{
	color: yellow; 
}

	
    